name: Auto Whisper Transcribe

on:
  workflow_dispatch:
    inputs:
      video_id:
        description: "YouTube Video ID"
        required: true

# Allow pull request
permissions:
  pull-requests: write
  repository-projects: write
  contents: write

jobs:
  transcribe:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Python
        uses: actions/setup-python@v3.1.3

      # - name: Install FFmpeg
      #   run: sudo apt-get install -y ffmpeg

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytube requests
          pip install openai

      - name: Run transcription script
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: python tools/auto_whisper.py ${{ github.event.inputs.video_id }}

      - name: Add subtitle to be tracked
        run: |
          git add static/src/subtitle/${{ github.event.inputs.video_id }}.srt

      - name: Create Pull Request
        if: ${{ success() }}
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: "Generated subtitle using Whisper for ${{ github.event.inputs.video_id }}"
          title: "Generated subtitle using Whisper for ${{ github.event.inputs.video_id }}"
          body: "Generated subtitle using Whisper for ${{ github.event.inputs.video_id }}"
          base: main
          labels: automated-pr
          branch: auto-whisper-${{ github.event.inputs.video_id }}
          delete-branch: true
